html {
	scroll-behavior: smooth;
}

.logoitb {
	width: 250px;
	height: 250px;
	margin: 20px;
}

.full-width {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
 }